In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from scipy.stats import ttest_rel

In [2]:
df = pd.read_csv('SARS-CoV-2 Dataset.csv')

# 1.

In [3]:
df

,continent,location,date,total_cases,total_deaths,total_vaccinations,people_vaccinated,people_fully_vaccinated,population
0,Asia,Afghanistan,2/24/2020,5.0,NaN,NaN,NaN,NaN,39835428.0
1,Asia,Afghanistan,2/25/2020,5.0,NaN,NaN,NaN,NaN,39835428.0
2,Asia,Afghanistan,2/26/2020,5.0,NaN,NaN,NaN,NaN,39835428.0
3,Asia,Afghanistan,2/27/2020,5.0,NaN,NaN,NaN,NaN,39835428.0
4,Asia,Afghanistan,2/28/2020,5.0,NaN,NaN,NaN,NaN,39835428.0
...,...,...,...,...,...,...,...,...,...
121948,Africa,Zimbabwe,10/3/2021,131129.0,4627.0,5424753.0,3111495.0,2313258.0,15092171.0
121949,Africa,Zimbabwe,10/4/2021,131129.0,4627.0,5441379.0,3117596.0,2323783.0,15092171.0
121950,Africa,Zimbabwe,10/5/2021,131205.0,4627.0,5472485.0,3128598.0,2343887.0,15092171.0
121951,Africa,Zimbabwe,10/6/2021,131434.0,4630.0,5499530.0,3140386.0,2359144.0,15092171.0
121952,Africa,Zimbabwe,10/7/2021,131523.0,4631.0,5527583.0,3152617.0,2374966.0,15092171.0

In [4]:
sub_df = df[['location', 'total_vaccinations', 'people_vaccinated', 'people_fully_vaccinated']]
sub_df = sub_df.fillna(0)

In [5]:
sub_df

,location,total_vaccinations,people_vaccinated,people_fully_vaccinated
0,Afghanistan,0.0,0.0,0.0
1,Afghanistan,0.0,0.0,0.0
2,Afghanistan,0.0,0.0,0.0
3,Afghanistan,0.0,0.0,0.0
4,Afghanistan,0.0,0.0,0.0
...,...,...,...,...
121948,Zimbabwe,5424753.0,3111495.0,2313258.0
121949,Zimbabwe,5441379.0,3117596.0,2323783.0
121950,Zimbabwe,5472485.0,3128598.0,2343887.0
121951,Zimbabwe,5499530.0,3140386.0,2359144.0
121952,Zimbabwe,5527583.0,3152617.0,2374966.0

In [6]:
def fill_null_rows(idx, dataframe):
    total_vaccinations = dataframe.at[idx, 'total_vaccinations']
    people_vaccinated = dataframe.at[idx, 'people_vaccinated']
    people_fully_vaccinated = dataframe.at[idx, 'people_fully_vaccinated']
    
    if dataframe.at[idx - 1, 'location'] == dataframe.at[idx, 'location']:
        if total_vaccinations == 0:
            dataframe.at[idx, 'total_vaccinations'] = dataframe.at[idx - 1, 'total_vaccinations']
        if people_vaccinated == 0:
            dataframe.at[idx, 'people_vaccinated'] = dataframe.at[idx - 1, 'people_vaccinated']
        if people_fully_vaccinated == 0:
            dataframe.at[idx, 'people_fully_vaccinated'] = dataframe.at[idx - 1, 'people_fully_vaccinated']

In [7]:
for index, row in sub_df.iterrows():
    if index == 0:
        continue
    fill_null_rows(index, sub_df)

In [8]:
df[['location', 'total_vaccinations', 'people_vaccinated', 'people_fully_vaccinated']] = sub_df

In [9]:
df.drop(df[df.location == 'International'].index, inplace=True)
df.drop(df[df.location == 'Northern Cyprusn'].index, inplace=True)

In [ ]:
df

# 2.

In [10]:
df['total_cases_per_population'] = df['total_cases'] / df['population'] * 100
df['total_deaths_per_population'] = df['total_deaths'] / df['population'] * 100
df['people_fully_vaccinated_per_population'] = df['people_fully_vaccinated'] / df['population'] * 100

In [11]:
df

,continent,location,date,total_cases,total_deaths,total_vaccinations,people_vaccinated,people_fully_vaccinated,population,total_cases_per_population,total_deaths_per_population,people_fully_vaccinated_per_population
0,Asia,Afghanistan,2/24/2020,5.0,NaN,0.0,0.0,0.0,39835428.0,0.000013,NaN,0.000000
1,Asia,Afghanistan,2/25/2020,5.0,NaN,0.0,0.0,0.0,39835428.0,0.000013,NaN,0.000000
2,Asia,Afghanistan,2/26/2020,5.0,NaN,0.0,0.0,0.0,39835428.0,0.000013,NaN,0.000000
3,Asia,Afghanistan,2/27/2020,5.0,NaN,0.0,0.0,0.0,39835428.0,0.000013,NaN,0.000000
4,Asia,Afghanistan,2/28/2020,5.0,NaN,0.0,0.0,0.0,39835428.0,0.000013,NaN,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
121948,Africa,Zimbabwe,10/3/2021,131129.0,4627.0,5424753.0,3111495.0,2313258.0,15092171.0,0.868854,0.030658,15.327536
121949,Africa,Zimbabwe,10/4/2021,131129.0,4627.0,5441379.0,3117596.0,2323783.0,15092171.0,0.868854,0.030658,15.397275
121950,Africa,Zimbabwe,10/5/2021,131205.0,4627.0,5472485.0,3128598.0,2343887.0,15092171.0,0.869358,0.030658,15.530483
121951,Africa,Zimbabwe,10/6/2021,131434.0,4630.0,5499530.0,3140386.0,2359144.0,15092171.0,0.870875,0.030678,15.631575
121952,Africa,Zimbabwe,10/7/2021,131523.0,4631.0,5527583.0,3152617.0,2374966.0,15092171.0,0.871465,0.030685,15.736411

# 3.

In [12]:
t_test1 = ttest_rel(df['people_fully_vaccinated_per_population'], df['total_cases_per_population'], nan_policy='omit')
t_test1

Ttest_relResult(statistic=94.76975023531915, pvalue=0.0)

In [13]:
t_test2 = ttest_rel(df['people_fully_vaccinated_per_population'], df['total_deaths_per_population'], nan_policy='omit')
t_test2

Ttest_relResult(statistic=126.869086229237, pvalue=0.0)

In [14]:
t_test3 = ttest_rel(df['people_fully_vaccinated'], df['total_cases'], nan_policy='omit')
t_test3

Ttest_relResult(statistic=21.899646208940485, pvalue=4.317476170238906e-106)

In [15]:
t_test4 = ttest_rel(df['people_fully_vaccinated'], df['total_deaths'], nan_policy='omit')
t_test4

Ttest_relResult(statistic=26.832460006156538, pvalue=4.6710467297468556e-158)

# 4.

In [16]:
countries = df[~df['continent'].isnull()]['location'].unique()
continents = df[df['continent'].isnull()]['location'].unique()

### row1

In [ ]:
fig, ax = plt.subplots()
temp_df = df[df['location'] == countries[0]]

ax.plot(temp_df['date'], temp_df['total_deaths_per_population'], color='red')
ax.plot(temp_df['date'], temp_df['total_cases_per_population'], color='green')
ax.plot(temp_df['date'], temp_df['people_fully_vaccinated_per_population'], color='blue')


ax.get_xaxis().set_ticks([])
ax.set(xlabel='Date', title=countries[0]);
ax.legend(["Total Deaths per population", 'People Fully Vaccinated per population', "Total Cases per population"]);

In [ ]:
for country in countries:
    fig, ax = plt.subplots()
    temp_df = df[df['location'] == country]
    
    ax.plot(temp_df['date'], temp_df['total_deaths_per_population'], color='red')
    ax.plot(temp_df['date'], temp_df['total_cases_per_population'], color='green')
    ax.plot(temp_df['date'], temp_df['people_fully_vaccinated_per_population'], color='blue')
    
    ax.get_xaxis().set_ticks([])
    ax.set(xlabel='Date', title=country);
    ax.legend(["Total Deaths per population", 'People Fully Vaccinated per population', "Total Cases per population"]);    
    
    fig.savefig(f'images/4/row1/{country}.png')
    plt.close()

### row2

In [ ]:
fig, ax = plt.subplots()
temp_df = df[df['location'] == countries[0]]

ax.plot(temp_df['date'], temp_df['total_deaths'], color='red')
ax.plot(temp_df['date'], temp_df['people_fully_vaccinated'], color='green')
ax.plot(temp_df['date'], temp_df['total_cases'], color='blue')


ax.get_xaxis().set_ticks([])
ax.set(xlabel='Date', title=countries[0]);
ax.legend(["Total Deaths", 'People Fully Vaccinated', "Total Cases"]);

In [ ]:
for country in countries:
    fig, ax = plt.subplots()
    temp_df = df[df['location'] == country]

    ax.plot(temp_df['date'], temp_df['total_deaths'], color='red')
    ax.plot(temp_df['date'], temp_df['people_fully_vaccinated'], color='green')
    ax.plot(temp_df['date'], temp_df['total_cases'], color='blue')


    ax.get_xaxis().set_ticks([])
    ax.set(xlabel='Date', title=country)
    ax.legend(["Total Deaths", 'People Fully Vaccinated', "Total Cases"])
    
    fig.savefig(f'images/4/row2/{country}.png')
    plt.close()

### row3

In [ ]:
fig, ax = plt.subplots()
temp_df = df[df['location'] == countries[0]]

ax.plot(temp_df['date'], temp_df['total_vaccinations'], color='red')
ax.plot(temp_df['date'], temp_df['people_vaccinated'], color='green')
ax.plot(temp_df['date'], temp_df['people_fully_vaccinated'], color='blue')


ax.get_xaxis().set_ticks([])
ax.set(xlabel='Date', title=countries[0])
ax.legend(["Total vaccinations", "People vaccinated", 'People fully vaccinated']);

In [ ]:
for country in countries:
    fig, ax = plt.subplots()
    temp_df = df[df['location'] == country]

    ax.plot(temp_df['date'], temp_df['total_vaccinations'], color='red')
    ax.plot(temp_df['date'], temp_df['people_vaccinated'], color='green')
    ax.plot(temp_df['date'], temp_df['people_fully_vaccinated'], color='blue')


    ax.get_xaxis().set_ticks([])
    ax.set(xlabel='Date', title=country)
    ax.legend(["Total vaccinations", "People vaccinated", 'People fully vaccinated'])
    
    fig.savefig(f'images/4/row3/{country}.png')
    plt.close()

### row4

In [ ]:
fig, ax = plt.subplots()
temp_df = df[df['location'] == continents[0]]

ax.plot(temp_df['date'], temp_df['total_vaccinations'], color='red')
ax.plot(temp_df['date'], temp_df['people_vaccinated'], color='green')
ax.plot(temp_df['date'], temp_df['people_fully_vaccinated'], color='blue')


ax.get_xaxis().set_ticks([])
ax.set(xlabel='Date', title=continents[0])
ax.legend(["Total vaccinations", "People vaccinated", 'People fully vaccinated']);

In [ ]:
for continent in continents:
    fig, ax = plt.subplots()
    temp_df = df[df['location'] == continent]

    ax.plot(temp_df['date'], temp_df['total_vaccinations'], color='red')
    ax.plot(temp_df['date'], temp_df['people_vaccinated'], color='green')
    ax.plot(temp_df['date'], temp_df['people_fully_vaccinated'], color='blue')


    ax.get_xaxis().set_ticks([])
    ax.set(xlabel='Date', title=continent)
    ax.legend(["Total vaccinations", "People vaccinated", 'People fully vaccinated'])
    
    fig.savefig(f'images/4/row4/{continent}.png')
    plt.close()

### row5

In [ ]:
fig, ax = plt.subplots()
temp_df = df[df['location'] == continents[0]]

ax.plot(temp_df['date'], temp_df['total_deaths'], color='red')
ax.plot(temp_df['date'], temp_df['people_fully_vaccinated'], color='green')
ax.plot(temp_df['date'], temp_df['total_cases'], color='blue')


ax.get_xaxis().set_ticks([])
ax.set(xlabel='Date', title=continents[0])
ax.legend(["Total Deaths", 'People Fully Vaccinated', "Total Cases"]);

In [ ]:
for continent in continents:
    fig, ax = plt.subplots()
    temp_df = df[df['location'] == continent]

    ax.plot(temp_df['date'], temp_df['total_deaths'], color='red')
    ax.plot(temp_df['date'], temp_df['people_fully_vaccinated'], color='green')
    ax.plot(temp_df['date'], temp_df['total_cases'], color='blue')


    ax.get_xaxis().set_ticks([])
    ax.set(xlabel='Date', title=continent)
    ax.legend(["Total Deaths", 'People Fully Vaccinated', "Total Cases"])
    
    fig.savefig(f'images/4/row5/{continent}.png')
    plt.close()

# 5.

In [ ]:
fig, ax = plt.subplots()
ax.scatter(df['people_fully_vaccinated'], df['total_cases'])
ax.set(xlabel='people_fully_vaccinated', ylabel='total_cases')

fig.savefig('images/5-1.png');

In [ ]:
fig, ax = plt.subplots()
ax.scatter(df['people_fully_vaccinated'], df['total_deaths'])
ax.set(xlabel='people_fully_vaccinated', ylabel='total_deaths')

fig.savefig('images/5-2.png');

In [ ]:
fig, ax = plt.subplots()
ax.scatter(df['total_vaccinations'], df['total_cases'])
ax.set(xlabel='total_vaccinations', ylabel='total_cases')

fig.savefig('images/5-3.png');

In [ ]:
fig, ax = plt.subplots()
ax.scatter(df['total_vaccinations'], df['total_deaths'])
ax.set(xlabel='total_vaccinations', ylabel='total_deaths')

fig.savefig('images/5-4.png');

In [ ]:
fig, ax = plt.subplots()
ax.scatter(df['total_vaccinations'], df['people_fully_vaccinated'])
ax.set(xlabel='total_vaccinations', ylabel='people_fully_vaccinated')

fig.savefig('images/5-5.png');

In [ ]:
fig, ax = plt.subplots()
ax.scatter(df['total_deaths'], df['total_cases'])
ax.set(xlabel='total_deaths', ylabel='total_cases')

fig.savefig('images/5-6.png');

# Save Excel File

In [ ]:
df.to_excel('result.xlsx', index=False)